{% extends "base.html" %} {% block title %}
<title>INSTAGRAM SCRAPING ENGINE</title>
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" /> -->
{% endblock %} {% block body %}
<main>

    <div class="container">
        <div class="row mb-5 pt-5">
            <div class="col text-center">
                <a class="navbar-brand" href="#">
                    <img src="{{url_for('static', filename='logo/logo.png')}}" class="img-fluid my-2" height="50"
                        width="200">
                </a>
                <h2 class="mb-2 mt-4" style="font-weight: 700;"><b>INSTAGRAM SCRAPING ENGINE</b></h2>
                <h5></h5>
            </div>
        </div>
        
</main>
{% endblock %}
